{% extends "loginin/index.html" %}
{%block title%}changepassword{%endblock title%}

{%block link%}
   <link href="/static/bootstrap/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/other/homestream.css" rel="stylesheet">
{%endblock link%}
 
{%block li%}
 <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
               <li  ><a href="/loginin/">Welcome back</a></li>
                <li ><a href="/loginin/followers">Followers GRUMBLRS</a></li>
                <li class="active"><a href="/loginin/profile">My profile</a></li>
                
                <li>
<a href="/loginin/logout">Logout</a>
</li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Apps <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                  
                  </ul>
                </li>
              </ul>
            </div>
{%endblock li%}


  {%block frontpage%}
               <h1>Welcome back to GRUMBLR</h1>
              <p>To change your password</p>
              <p><a class="btn btn-large btn-primary" href="/loginin/profile">Edit your profile!</a></p>
{%endblock frontpage%}

{%block showpage%} 
     {% if oldpassword_is_wrong %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <h4>error!</h4>the old password is not correct!
        </div>
    {% endif %}
    <div class="well">
        <form class="form-horizontal" action="" method="post">
            {% csrf_token %}
            {{ form }}
            <p class="form-actions">
                <input type="submit" value="confirm change" class="btn btn-primary">
            </p>
        </form>
    </div>
{%endblock showpage%}




