{% extends "experimentbase.html" %}

{%block main%}
{% load staticfiles %}

<div id="series_container">
    <div class="player">
        <div id="current_content">
			<div id="unityPlayer">
				<div class="missing">
					<a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!">
						<img alt="Unity Web Player. Install now!" src="http://webplayer.unity3d.com/installation/getunity.png" width="193" height="63" />
					</a>
				</div>
				<div class="broken">
					<a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now! Restart your browser after install.">
						<img alt="Unity Web Player. Install now! Restart your browser after install." src="http://webplayer.unity3d.com/installation/getunityrestart.png" width="193" height="63" />
					</a>
				</div>
			</div>
        </div>
        <div id="message"><h1> The Experiment is Over </h1></div>
    </div>
</div>
<script type='text/javascript' src='https://ssl-webplayer.unity3d.com/download_webplayer-3.x/3.0/uo/jquery.min.js'></script>
<script type="text/javascript">
<!--
var unityObjectUrl = "http://webplayer.unity3d.com/download_webplayer-3.x/3.0/uo/UnityObject2.js";
if (document.location.protocol == 'https:')
    unityObjectUrl = unityObjectUrl.replace("http://", "https://ssl-");
document.write('<script type="text\/javascript" src="' + unityObjectUrl + '"><\/script>');
-->
</script>
<script type="text/javascript">
<!--
    var config = {
        width: 1366, 
        height: 768,
        params: { enableDebugging:"0" }
        
    };

    var u = new UnityObject2(config);

    jQuery(function() {

        var $missingScreen = jQuery("#unityPlayer").find(".missing");
        var $brokenScreen = jQuery("#unityPlayer").find(".broken");
        $missingScreen.hide();
        $brokenScreen.hide();
        
        u.observeProgress(function (progress) {
            switch(progress.pluginStatus) {
                case "broken":
                    $brokenScreen.find("a").click(function (e) {
                        e.stopPropagation();
                        e.preventDefault();
                        u.installPlugin();
                        return false;
                    });
                    $brokenScreen.show();
                break;
                case "missing":
                    $missingScreen.find("a").click(function (e) {
                        e.stopPropagation();
                        e.preventDefault();
                        u.installPlugin();
                        return false;
                    });
                    $missingScreen.show();
                break;
                case "installed":
                    $missingScreen.remove();
                break;
                case "first":
                break;
            }
        });
        u.initPlugin(jQuery("#unityPlayer")[0], "{% static "webpong.unity3d" %}");
    });

    function UnityLog(msg) {
        console.log(msg);
        submit_survey(msg);
    }

    function UnityQuit(msg) {
        stop();
        finish();
    }
-->
</script>
<script type="text/javascript">
    function finish() {
        $("#unityPlayer").hide();
        $("#message").show();
    }
</script>
<script type="text/javascript">

    function start_tracking_eeg() {
        alarm_interval = setInterval(check_eeg_connection, 1000);
    }

    function stop_tracking_eeg() {
        clearInterval(alarm_interval);
    }

</script>
<script type="text/javascript">
    
    $(function() {
        $("#message").hide();
        args = {
            content_group_name: '{{content_group_name}}',
            content_name: '{{content_name}}',
            viewer_names: []};

        {% for viewer in viewers %}
            args.viewer_names.push("{{viewer}}")
        {% endfor %}
        first_start();
    });

    function resume() {
        start_tracking_eeg();
        startSession(function(resp) {
            if (resp.ok) {
                current_session = resp.session_name;
            } else {
                // TODO: display failed to start error 
            }
        });
    }

    function stop() {
        stop_tracking_eeg();
        stopSession(function() {
        });
    }

    function startSession(callback) {
        $.post('/EEG/API/start_session',
                {'content_group_name': args.content_group_name,
                'content_name': args.content_name,
                'csrfmiddlewaretoken': "{{csrf_token}}",
                'content_time': 0,
                'viewer_name': JSON.stringify(args.viewer_names)}, // TODO: send auth token
                callback)
    }
    
    function stopSession(callback) {
        $.post('/EEG/API/stop_session',
                {'content_group_name': args.content_group_name,
                'content_name': args.content_name,
                'session_name': current_session,
                'csrfmiddlewaretoken': "{{csrf_token}}",
                'content_time': 0,
                'viewer_name': JSON.stringify(args.viewer_names)}, // TODO: send auth token
                callback)
    }
    
    function first_start() {
        resume();
    }

    function submit_survey(data) {
        $.post('/EEG/API/store_answers',
                {'content_group_name': args.content_group_name,
                'content_name': args.content_name,
                'session_name': current_session,
                'answers': JSON.stringify(data),
                'csrfmiddlewaretoken': "{{csrf_token}}",
                'viewer_name': JSON.stringify(args.viewer_names)}, // TODO: send auth token
                function() {})
    }

    function check_eeg_connection() {
        $.get('/EEG/check_eeg_connection',
                {'viewer_names': JSON.stringify(args.viewer_names)},
                function(status) {
                if (status != "OK") {
                    console.log(status);
                    var beep = new Audio("{% static "beep.wav" %}");
                    beep.play();
                }});
    }
</script>

{%endblock main%}
