{% extends "nmbase.html" %}

{% load staticfiles %}

{% block extrascripts %}
<link href="{% static "css/bootstrap-switch.css" %}" rel="stylesheet">
<script src="{% static "js/jquery.flot.js" %}"></script>
<script src="{% static "js/jquery.flot.stack.js" %}"></script>
<script src="{% static "js/jquery.flot.resize.js" %}"></script>
<script src="{% static "js/theme.js" %}"></script>
<script src="{% static "js/syn_plotter.js" %}"></script>
<script src="{% static "js/bootstrap-switch.js" %}"></script>
{% endblock %}

{% block main %}

<h2> {{current_content.name}} </h2>

<div class="panel-group" id="accordion">

  <div class="panel panel-default" id="video_panel">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="collapser" data-toggle="collapse" data-target="#collapseOne" 
           href="#collapseOne">
          Video
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <video controls id="MyPlayer" width="600" height="300">
                <source src="https://s3.amazonaws.com/eeg-site-video/{{current_content.name}}.mp4" type="video/mp4">
              </video>
            </div>
            <div class="col-md-4">
              <div class='well'>
                <a class="btn btn-primary" href="/EEG/market/setup_film/{{current_content_group.name}}?content={{current_content.name|urlencode}}">
                  Setup Experiment
                </a>
                <br><br>
                <a href="/EEG/market/delete/{{current_content_group.name}}?content={{current_content.name}}" class="btn btn-primary">
                  Delete
                </a>
                <a href="#" id="rename-button" class="btn btn-primary">
                  Rename
                </a>
                <input type="text" id="rename-box">
                <br><br>
                <a href="/EEG/market/clear/{{current_content_group.name}}?content={{current_content.name}}" class="btn btn-primary">
                  Clear Labels
                </a>
                <br><br>
                <ul>
                  <li>sessions: {{num_views}}</li>
                  <li>viewers: {{num_viewers}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default" id="data_panel">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="collapser" data-toggle="collapse" data-target="#collapseTwo" 
           href="#collapseTwo">
            Data
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <div id='content_graph' style="width:600px;height:300px">
              </div>
            </div>
            <div class="col-md-4">
              <form action="">
                <input type="checkbox" name="my-checkbox" class="syn_checkbox" value="engage"> Engage <br><br>
                <input type="checkbox" name="my-checkbox" class="syn_checkbox" value="winning"> Winning <br><br>
                <input type="checkbox" name="my-checkbox" class="syn_checkbox" value="comment"> Comment <br><br>
                <input type="checkbox" name="my-checkbox" class="syn_checkbox" value="happy"> Happy <br><br>
                <input type="checkbox" name="my-checkbox" class="syn_checkbox" value="sad"> Sad <br><br>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default" id="detail_panel">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="collapser" data-toggle="collapse" data-target="#collapseThree"
           href="#collapseThree">
            Details
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <canvas id='snaps' width="2000" height="300"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$('#rename-button').click(function() {
    var new_name = $('#rename-box').val();
    if (new_name.length > 0) {
        window.location.href = "/EEG/market/rename/{{current_content_group.name}}?content={{current_content.name}}&name="+new_name;
    }
});
</script>

<script>

var numSnaps = 0;
var snapIndex = 0;

function snap() {
    var canvas = $('#snaps')[0];
    var context = canvas.getContext('2d');
    var w = 150;
    var h = 90;

	// Grab the image from the video
	context.drawImage($('#MyPlayer')[0], 0 + w * numSnaps, 0, w, h);
    numSnaps += 1;
}

</script>

<script>

$('#MyPlayer')[0].onloadedmetadata = function() {
    vid_duration = $('#MyPlayer')[0].duration;
    refresh_graph();
};

$(".syn_checkbox").bootstrapSwitch('state', true);

function chart_click(secs) {
    $('#MyPlayer')[0].currentTime = secs;
}

function refresh_graph() {
    updateGraph('#content_graph',
                '{{current_content_group.name}}',
                '{{current_content.name}}',
                vid_duration,
                null,
                null,
                function(data) {
                    graph_data = data;
                },
                chart_click);
}

$("#MyPlayer").on('timeupdate', function(ev) {
    var t = this.currentTime;
    updateGraph('#content_graph',
                '{{current_content_group.name}}',
                '{{current_content.name}}',
                vid_duration,
                graph_data,
                t,
                function(data) {
                    graph_data = data;
                    var snap_threshold = 0.5;
                    for (var i = 0; i < data.length; i++) {
                        data_ = data[i].data;
                        var j = snapIndex + 1;
                        for (; j < data_.length && data_[j][0] < t; j++) { 
                        }
                        j = j - 1;
                        if (j > snapIndex) {
                            snapIndex = j;
                            if (data_[snapIndex][1] > snap_threshold) {
                                snap();
                            }
                        }
                    }
                },
                chart_click);
});

$(".syn_checkbox").on('switchChange.bootstrapSwitch', function(event, state) {
    var label_type = this.value;
    var on = state.value;
    refresh_graph();
});

refresh_graph();

$(".collapser").click(function(e) {
    e.preventDefault();
});

</script>

{% endblock main %}
